{% extends "::base.html.twig" %}

{% block title %}AppBundle:Ad:ad{% endblock %}

{% block body %}
    <h1>Dodaj Ogłoszenie</h1>
    {{ form_start(form) }}

    {{ form_row(form.title) }}
    {{ form_row(form.brand) }}
    {{ form_row(form.model) }}
    {{ form_row(form.yearProduction) }}
    {{ form_row(form.power) }}
    {{ form_row(form.kilometers) }}
    {{ form_row(form.price) }}

    <button type="submit">Dodaj!</button>
    {{ form_end(form) }}


{% endblock %}

{% block stylesheets %}
    <style>
        body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
        h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
        h1 { background:#F5F5F5; font-size: 36px; }
        h2 { font-size: 21px; margin-bottom: 1em; }
        p { margin: 0 0 1em 0; }
        a { color: #0000F0; }
        a:hover { text-decoration: none; }
        code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }

    </style>
{% endblock %}