{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div id="top_bar">
            <div id="logo">
                <button class="menu" onclick="openNav()">MENU</button>
            </div>
            <!--<div class="test">
                <a href="new.html.twig">Nowe</a>
                <a href="{{ path('userPanel') }}"></a>
            </div> !-->
        </div>
        <script src="{{ asset('js/sorttable.js') }}"></script>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ path('homepage') }}">Strona główna</a>
        <a href="{{ path('login') }}">Zaloguj sie</a>
        <a href="{{ path('register') }}">Zarejestruj sie</a>
        <a href="{{ path('adForm') }}">Dodaj ogłoszenie</a>
        <a href="{{ path('userPanel') }}">Panel uzytkownika</a>
    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }

        function searchModel() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchModelInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("adTable");
            tr = table.getElementsByTagName("tr");

            for(i = 0; i < tr.length; i++){
                td = tr[i].getElementsByTagName("td")[3];
                if(td){
                    if(td.innerHTML.toUpperCase().indexOf(filter) > -1){
                        tr[i].style.display = "";

                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

        function searchCity() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("searchCityInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("adTable");
            tr = table.getElementsByTagName("tr");

            for(i = 0; i < tr.length; i++){
                td = tr[i].getElementsByTagName("td")[4];
                if(td){
                    if(td.innerHTML.toUpperCase().indexOf(filter) > -1){
                        tr[i].style.display = "";

                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }

    </script>

    <div id="ads_header">
        <h1>Ogloszenia</h1>
    </div>

    <input type="text" id="searchModelInput" onkeyup="searchModel()" placeholder="Jakiego modelu szukasz?">
    <input type="text" id="searchCityInput" onkeyup="searchCity()" placeholder="W jakim miescie?">

    <table class="sortable" id="adTable">
        <thead>
            <tr class="header">
                <!--<th>Id</th>!-->
                <th>Tytuł</th>
                <th>Cena [zł]</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Miasto</th>
                <th>Rok produkcji</th>
                <th>Moc [KM]</th>
                <th>Przebieg [km]</th>
                <th>Data dodania</th>
                <th>Opcje</th>
            </tr>
        </thead>
        <tbody>
        {% for ad in ads %}
            <tr>
                <!--<td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.id }}</a></td>!-->
                <td>{{ ad.title }}</td>
                <td>{{ ad.price }}</td>
                <td>{{ ad.brand }}</td>
                <td>{{ ad.model }}</td>
                <td>{{ ad.city }}</td>
                <td>{{ ad.yearProduction }}</td>
                <td>{{ ad.power }}</td>
                <td>{{ ad.kilometers }}</td>
                <td>{{ ad.date|date('Y-m-d') }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'id': ad.id }) }}">Pokaż</a>
                        </li>
                       <!-- <li>
                            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">edit</a>
                        </li> !-->
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

   <!-- <ul>
        <li>
            <a href="{{ path('ad_new') }}">Create a new entry</a>
        </li>
    </ul> !-->
{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background-color: #ECF0F1;
        }


        .menu {
            position: relative;
            background-color: #99CDD8;
            border: none;
            font-size: 28px;
            color: #000000;
            padding: 20px;
            width: 200px;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

        #ads_header{
            height: 100px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }


        #adTable{
            border-collapse: collapse;
            width: 80%;
            border: 1px solid #2C3E50;
            font-size: 18px;

        }

        #adTable th, #adTable td{
            text-align: left;
            padding: 12px;
        }

        #adTable tr{
            border-bottom: 1px solid #2C3E50;
        }

        #adTable tr.header, #adTable tr:hover{
            background-color: #F1F1F1;
        }

        #top_bar{
            height: 80px;
            background-color: #2C3E50;
            margin-bottom: 10px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        }

        #logo{
            height: 80px;
            width: 200px;
            background-color: #99CDD8;
            text-align: center;
        }

        #logo:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        }

        #searchModelInput {
            width: 50%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #66dd66;
            margin-bottom: 12px;

        }

        #searchCityInput {
            width: 50%;
            font-size: 16px;
            padding: 12px 20px 12px 40px;
            border: 1px solid #66dd66;
            margin-bottom: 12px;

        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }


    </style>
{% endblock %}
