{% extends 'base.html.twig' %}

{% block body %}

    <header>
        <div id="top_bar">
            <div id="logo">
                <button class="menu" onclick="openNav()">MENU</button>
            </div>

        </div>
    </header>

    <div id="ad_details"><p>Szczegóły ogłoszenia</p></div>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ path('login') }}">Zaloguj sie</a>
        <a href="{{ path('register') }}">Zarejestruj sie</a>
        <a href="{{ path('adForm') }}">Dodaj ogłoszenie</a>
        <a href="{{ path('userPanel') }}">Panel uzytkownika</a>
    </div>


    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>


    <table>
        <tbody>
            <tr>
                <th>Tytuł</th>
                <td>{{ ad.title }}</td>
            </tr>
            <tr>
                <th>Cena</th>
                <td>{{ ad.price }}</td>
            </tr>
            <tr>
                <th>Marka</th>
                <td>{{ ad.brand }}</td>
            </tr>
            <tr>
                <th>Model</th>
                <td>{{ ad.model }}</td>
            </tr>
            <tr>
                <th>Rok produkcji</th>
                <td>{{ ad.yearProduction }}</td>
            </tr>
            <tr>
                <th>Moc</th>
                <td>{{ ad.power }}</td>
            </tr>
            <tr>
                <th>Przebieg</th>
                <td>{{ ad.kilometers }}</td>
            </tr>

        </tbody>
    </table>


    <ul>
        <li>
            <a href="{{ path('ad_index') }}">Wróć do listy ogłoszeń</a>
        </li>
       <!-- <li>
            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
        !-->
    </ul>

    <img src="{{ asset(ad.path) }}" width="640" height="450"/>

{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background-color: #ECF0F1;
        }

        .menu {
            position: relative;
            background-color: #99CDD8;
            border: none;
            font-size: 28px;
            color: #000000;
            padding: 20px;
            width: 200px;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

        #ad_details{
            height: 50px;
            background-color: #E74C3C;
            margin-bottom: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            font-family: SansSerif;
            font-size: 25px;

        }


        #top_bar{
            height: 80px;
            background-color: #2C3E50;
            margin-bottom: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        }

        #logo{
            height: 80px;
            width: 200px;
            background-color: #99CDD8;
            text-align: center;
        }

        #logo:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }


    </style>
{% endblock %}
