{% extends "::base.html.twig" %}

{% block title %}Panel użytkownika{% endblock %}

{% block body %}
<body>
    <header>
        <div id="top_bar">
            <div id="logo">
                <button class="menu" onclick="openNav()">MENU</button>
            </div>


        </div>
    </header>

    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="{{ path('homepage') }}">Strona Główna</a>
        <a href="{{ path('adForm') }}">Dodaj ogłoszenie</a>
        <a href="{{ path('ad_index') }}">Zobacz ogłoszenia</a>
        <a href="{{ path('logout') }}">Wyloguj</a>
    </div>

    <div id="user_ads">
        <p>Twoje ogłoszenia:</p>

        <table class="sortable" id="adTable">
            <thead>
            <tr class="header">
                <!--<th>Id</th>!-->
                <th>Tytuł</th>
                <th>Cena [zł]</th>
                <th>Marka</th>
                <th>Model</th>
                <th>Miasto</th>
                <th>Rok produkcji</th>
                <th>Moc [KM]</th>
                <th>Przebieg [km]</th>
                <th>Data dodania</th>
                <th>Opcje</th>
            </tr>
            </thead>
            <tbody>
            {% for ad in  userAds  %}
                <tr>
                    <!--<td><a href="{{ path('ad_show', { 'id': ad.id }) }}">{{ ad.id }}</a></td>!-->
                    <td>{{ ad.title }}</td>
                    <td>{{ ad.price }}</td>
                    <td>{{ ad.brand }}</td>
                    <td>{{ ad.model }}</td>
                    <td>{{ ad.city }}</td>
                    <td>{{ ad.yearProduction }}</td>
                    <td>{{ ad.power }}</td>
                    <td>{{ ad.kilometers }}</td>
                    <td>{{ ad.date|date('Y-m-d') }}</td>
                    <td>
                        <!-- <ul>
                        <li>
                            <a href="{{ path('ad_show', { 'id': ad.id }) }}">Pokaż</a>
                        </li>
                       <li>
                            <a href="{{ path('ad_edit', { 'id': ad.id }) }}">edit</a>
                        </li>
                    </ul> !-->

                        <button id="showButton" onclick="location.href='{{ path('ad_show', { 'id': ad.id }) }}'" >Pokaż</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>


    <div id="user_name">
        <p>Witaj!</p><br>
        <p>{{ userName }}</p>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
        }
    </script>

</body>

{% endblock %}

{% block stylesheets %}
    <style>

        body{
            background-color: #ECF0F1;
        }

        #user_ads{
            height: 100px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        }

        #showButton{
            position: relative;
            background-color: #629755;
            border: none;
            font-size: 24px;
            color: #FFFFFF;
            padding: 20px;
            width: 180px;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

        #showButton:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        }


        #adTable{
            border-collapse: collapse;
            width: 80%;
            border: 1px solid #2C3E50;
            font-size: 18px;
            background-color: #FFFFFF;

        }

        #adTable th, #adTable td{
            text-align: left;
            padding: 12px;
        }

        #adTable tr{
            border-bottom: 1px solid #2C3E50;
        }

        #adTable tr.header, #adTable tr:hover{
            background-color: #F1F1F1;
        }


        .menu {
            position: relative;
            background-color: #99CDD8;
            border: none;
            font-size: 28px;
            color: #000000;
            padding: 20px;
            width: 200px;
            text-align: center;
            text-decoration: none;
            overflow: hidden;
            cursor: pointer;
        }

        #user_ads{
            height:600px;
            width:1425px;
            float: left;
            background-color: #E74C3C;
            padding: 40px;
            font-family: Helvetica, SansSerif;
            font-size: 40px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        #user_ads:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        }

        #user_name{
            height:300px;
            width:300px;
            float: right;
            background-color: #2980B9;
            padding: 40px;
            font-family: Helvetica, SansSerif;
            font-size: 40px;
            text-align: center;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;

        }

        #user_name:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
        }

        #top_bar{
            height: 80px;
            background-color: #2C3E50;
            margin-bottom: 5px;
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

        }

        #logo{
            height: 80px;
            width: 200px;
            background-color: #99CDD8;
            text-align: center;
        }

        #logo:hover{
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2)
        }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            padding-top: 60px;
            transition: 0.5s;
        }

        .sidenav a {
            padding: 8px 8px 8px 32px;
            text-decoration: none;
            font-size: 25px;
            color: #818181;
            display: block;
            transition: 0.3s
        }

        .sidenav a:hover, .offcanvas a:focus{
            color: #f1f1f1;
        }

        .sidenav .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }


        @media screen and (max-height: 450px) {
            .sidenav {padding-top: 15px;}
            .sidenav a {font-size: 18px;}
        }


    </style>
{% endblock %}
